

.banner {
    width: 100%;
    height: 650px;
    background-image: url('../img/banner_top.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .description {
        display: flex;
        justify-content: right;
        height: 100%;

        &__block {
            height: 100%;
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
        }

        &__text {
            padding-bottom: 40px;
            font-size: 42px;
            color: white;
            text-transform: uppercase;
        }

    }
}

.banner--small {
    height: 500px;
}

.banner--oldschool {
    background-image: url('../img/oldschool.jpeg');
}

.banner--craft {
    background-image: url('../img/craft.jpeg');
}


@media (max-width: 720px) {

    .banner {
        height: 400px;

        .description {
            justify-content: center;
    
            &__block {
                width: 100%;
        
            }
    
            &__text {
                padding-bottom: 40px;
                font-size: 28px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
    
        }
    }

    .banner--small {
        height: 300px;
    }
    
}